flows.json
[
    {
        "id": "a2508b5e.6863c8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e67a9fd.f58988",
        "type": "function",
        "z": "a2508b5e.6863c8",
        "name": "pre token",
        "func": "//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"f_REvsTCHubzSJoBr1DlLlyhKMyuTaHtB5XPNFanVqs3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "46e81f82.1627a"
            ]
        ]
    },
    {
        "id": "731ff45f.9a132c",
        "type": "http request",
        "z": "a2508b5e.6863c8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v3/wml_instances/2982a739-5cdd-41a5-8598-0df7b94edf07/deployments/c4e12022-0500-4886-9a43-7af2b6f2efd9/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "c9a872bb.ddc21",
                "729d39cf.55c948"
            ]
        ]
    },
    {
        "id": "e6e6b417.565768",
        "type": "debug",
        "z": "a2508b5e.6863c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "729d39cf.55c948",
        "type": "function",
        "z": "a2508b5e.6863c8",
        "name": "getFrom Endpoint",
        "func": "msg.payload=msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "e6e6b417.565768",
                "a6d7775f.fcb3c8"
            ]
        ]
    },
    {
        "id": "c9a872bb.ddc21",
        "type": "debug",
        "z": "a2508b5e.6863c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "4feea9ea.678fb8",
        "type": "function",
        "z": "a2508b5e.6863c8",
        "name": "sendTo Endpoint",
        "func": "//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"2982a739-5cdd-41a5-8598-0df7b94edf07\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Year', 'Status','winsorized_Adult_Mortality',\n       'BMI', 'winsorized_Infant_Deaths', 'winsorized_Alcohol', 'winsorized_Percentage_Exp', 'winsorized_HepatitisB',\n       'winsorized_Under_Five_Deaths', 'winsorized_Polio', 'winsorized_Tot_Exp', 'winsorized_Diphtheria',\n       'winsorized_HIV', 'winsorized_GDP', 'winsorized_Population', 'winsorized_thinness_1to19_years',\n       'winsorized_thinness_5to9_years', 'winsorized_Income_Comp_Of_Resources', 'winsorized_Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "731ff45f.9a132c"
            ]
        ]
    },
    {
        "id": "46e81f82.1627a",
        "type": "http request",
        "z": "a2508b5e.6863c8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "4feea9ea.678fb8"
            ]
        ]
    },
    {
        "id": "a6d7775f.fcb3c8",
        "type": "ui_text",
        "z": "a2508b5e.6863c8",
        "group": "fdbd9753.5a2e18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Life Expectancy Prediction:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "c2feea5f.17cd68",
        "type": "ui_form",
        "z": "a2508b5e.6863c8",
        "name": "",
        "label": "",
        "group": "fdbd9753.5a2e18",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Year",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status (Developing: 0, Developed: 1)",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult Mortality",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Infant Deaths",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Percentage Expenditure",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Under 5 deaths",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total Expenditure",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diptheria",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness 1 to 19 years",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness 5 to 9 years",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling\t",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 100,
        "wires": [
            [
                "9e67a9fd.f58988"
            ]
        ]
    },
    {
        "id": "fdbd9753.5a2e18",
        "type": "ui_group",
        "z": "",
        "name": "Predict your Life Expectancy",
        "tab": "98049835.130968",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "98049835.130968",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]